.search {
  display: flex;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.city {
  margin-top: 20px;
  font-size: 38px;
  line-height: 48px;
}

.details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.weather-app-temperature {
  margin-right: 20px;
}
.wind-humidity {
  color: #885df1;
}
