.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
